.wrapper {
  height: 80px;
  width: calc(100% + 0px);
  top: 0px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  transition: padding 0.15s ease-in-out, 0.1s box-shadow 0.25s ease-in-out,
    0.15s position 0.15s ease-in-out;
  box-shadow: 0 8px 10px 0 rgba(0, 84, 166, 0.1);
  background-color: #fff;
}

.inner {
  height: 100%;
  width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  width: 110px;
  height: 57px;
}
