.wrapper {
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  max-height: min(-156px + 100vh, 760px);
  border-radius: 4px;
  margin-top: 135px;
  box-shadow: 2px 3px 8px 0px rgba(19, 25, 28, 0.16);
}
